@font-face {
  font-family: cooper-hewitt-medium;
  src: url(./fonts/CooperHewitt-Medium.otf);
}
@font-face {
  font-family: cooper-hewitt-bold;
  src: url(./fonts/CooperHewitt-Bold.otf);
}
@font-face {
  font-family: cooper-hewitt-light;
  src: url(./fonts/CooperHewitt-Light.otf);
}
@font-face {
  font-family: gt-pressura-mono-light;
  src: url(./fonts/GT-Pressura-Mono-Light-Trial.woff2);
}
@font-face {
  font-family: gt-pressura-mono-regular;
  src: url(./fonts/GT-Pressura-Mono-Regular-Trial.woff2);
}

h1,
h2,
h3, 
h4 {
  font-family: cooper-hewitt-bold;
}
