@font-face {
  font-family: cooper-hewitt-medium;
  src: url(./fonts/CooperHewitt-Medium.otf);
}
@font-face {
  font-family: cooper-hewitt-bold;
  src: url(./fonts/CooperHewitt-Bold.otf);
}
@font-face {
  font-family: cooper-hewitt-light;
  src: url(./fonts/CooperHewitt-Light.otf);
}
@font-face {
  font-family: gt-pressura-mono-light;
  src: url(./fonts/GT-Pressura-Mono-Light-Trial.woff2);
}
@font-face {
  font-family: gt-pressura-mono-regular;
  src: url(./fonts/GT-Pressura-Mono-Regular-Trial.woff2);
}

h1,
h2,
h3, 
h4 {
  font-family: cooper-hewitt-bold;
}

.container {
  z-index: -1;
}
.container__header {
  padding: 1rem;
}
.container__title {
  width: 15rem;
  color: #1e5d84;
  background-image: url('../assets/images/blue-underline.svg');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 80% 0.3rem;
  padding-bottom: 0.2rem;
}
.container__body--secondary {
  background-color: #fbf8e9;
}
.container__footer {
  padding-bottom: 6.5rem;
  background-color: #f0f0f0;
}
.container__footer--right {
  padding: 1rem;
  text-align: right;
}
.container__wrapper {
  padding: 1rem;
  text-align: left;
}
.container__wrapper--date {
  text-align: center;
  background-color: #fbf8e9;
}
.form {
  padding: 1rem;
}
.form__label {
  font-family: cooper-hewitt-medium;
  font-size: .75rem;
  color: #1e5d84;
  display: block;
}
.form__input {
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  padding: .5rem .5rem .5rem .5rem;
  background-color: #fff;
  color: #1e5d84;
  border: 0.175rem solid #94b8d1;
  border-radius: 0.2rem;
  transition: border-color .25s ease, background-color .25s ease;
}
.form__input::placeholder {
  color: #94b8d1;
}
.form--value {
  padding: 1rem;
}
.form__input::placeholder {
  color: #94b8d1;
}
.form--value:before {
  font-family: cooper-hewitt-medium;
  content: 'R$';
  color: #E66C55;
  font-size: 30px;
  position: absolute;
  top: 108px;
  left: 25px;
  z-index: 1;
}
.form__input--value {
  box-sizing: border-box;
  width: 100%;
  font-size: 1.5rem;
  padding: .5rem .5rem .5rem 3rem;
  background-color: #fff;
  color: #1e5d84;
  border: 0.175rem solid #94b8d1;
  border-radius: 0.2rem;
  transition: border-color .25s ease, background-color .25s ease;
}
.form__input--value::placeholder {
  color: #94b8d1;
}
.date__wrapper {
  padding: 0 0 1rem 0;
  text-align: center;
}
.button {
  padding: .5rem 1rem .5rem 1rem;
  font-family: gt-pressura-mono-regular;
  text-transform: uppercase;
  letter-spacing: .10rem;
  border: 0.1rem solid transparent;
  transition: background-color .2s ease-in-out;
  line-height: 1.5;
  border-radius: 0.2rem;
  box-shadow: 0 .1rem .25rem 0 rgb(0 0 0 / 30%);
}
.button--red {
  background-color: #e66c55;
  color: #fff;
}
.background-color--gray {
  height: 100%;
  background-color: #f0f0f0;
}
.list {
  font-family: cooper-hewitt-medium;
  padding: .5rem;
  margin: 1rem;
  background-color: #FCE180;
  color:#1e5d84;
}
.list__header {
  background-color: #fff;
  padding: .5rem .25rem .25rem .25rem;
  margin-bottom: .5rem;
}
.list__icon {
  margin: 1rem;
}
.spinner {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text--blue {
  color:#1e5d84;
}
.container__card {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  font-family: cooper-hewitt-medium;
  height: 5rem;
  width: 10rem;
  background-color: #FCE180;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card--left {
  margin-right: 2.5rem;
}
.card--right {
  margin-left: 2.5rem;
}
.text--red {
  color: #e66c55;
  font-size: 1.5rem;
}