$primary-01: #F9AD9B;
$primary-02: #F7876D;
$primary-03: #FFDFD2;
$primary-04: #FBEDE6;

$white-01: #ECEFF4;
$white-02: #E5E9F0;
$white-03: #D8DEE9;
$white-04: #C8CCD2;

$black-01: #2E3440;
$black-02: #3B4252;
$black-03: #434C5E;
$black-04: #4C566A;

$success: #45D792;
$danger: #F4004B;